<p>
  <%= link_to 'Tillbaka', event_ticket_types_path(@event) %>
</p>

<h1>Ändrar <%= @ticket_type %> för <%= @event %></h1>

<p>
  <strong>ATT ÄNDRA BILJETTPRISER UNDER FÖRSÄLJNING FÖRÄNDRAR STATISTIKEN, TÄNK PÅ VAD DU GÖR.</strong>
</p>

<%= render 'form' %>
