# You might want to change this to something absolute and static, for instance
# PROJECT_ROOT=${HOME}/code/kobra
PROJECT_ROOT=${PWD}
PATH=${PROJECT_ROOT}/bin:${PATH}

OPBEAT_ORGANIZATION_ID=
OPBEAT_APP_ID=
OPBEAT_SECRET_TOKEN=
SESAM_USERNAME=
SESAM_PASSWORD=
