[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pytz = "*"
gunicorn = "==19.6.*"
Django = "==1.11.*"
"psycopg2" = "==2.7.*"
djangorestframework = "==3.5.*"
djangorestframework-expandable = "==0.0.6"
django-filter = "==1.0.*"
djangorestframework-jwt = "==1.8.*"
social-auth-core = "==1.2.*"
social-auth-app-django = "==1.1.*"
social-auth-liu = "==0.0.*"
rest-social-auth = "==1.2.*"
django-environ = "==0.4.*"
django-extensions = "==1.7.*"
whitenoise = "==3.3.*"
brotlipy = "==0.6.*"
rules = "==1.2.*"
sesam = "==1.0.1"
opbeat = "==3.5.*"
factory_boy = "==2.7.*"
ipython = "*"


[dev-packages]
