[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]

python_version = "3.6"


[packages]

brotlipy = "*"
coreapi = "*"
django = "==1.11.*"
django-environ = "*"
django-extensions = "*"
django-filter = "*"
djangorestframework = "*"
djangorestframework-expandable = "*"
djangorestframework-jwt = "*"
gunicorn = "*"
ipython = "*"
opbeat = "*"
"psycopg2" = "*"
pytz = "*"
rest-social-auth = "*"
rules = "*"
sesam = "*"
social-auth-app-django = "==1.*"
social-auth-core = "*"
social-auth-liu = "*"
whitenoise = "*"


[dev-packages]

factory-boy = "*"
kobra = {path = ".", editable = true}
