[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"

[packages]
pytz = "*"
gunicorn = "*"
django = "==1.11.*"
"psycopg2" = "*"
djangorestframework = "*"
djangorestframework-expandable = "*"
django-filter = "*"
djangorestframework-jwt = "*"
social-auth-core = "*"
social-auth-app-django = "==1.*"
social-auth-liu = "*"
rest_social_auth = "*"
django-environ = "*"
django-extensions = "*"
whitenoise = "*"
brotlipy = "*"
rules = "*"
sesam = "*"
opbeat = "*"
factory_boy = "*"
ipython = "*"

[dev-packages]
kobra = {path = ".", editable = true}
