<% if current_user && current_user.admin? %>
<p>
  <%= link_to 'Tillbaka', event_registration_batch_path(@event, @registration_batch) %>
</p>
<% end %>

<h2>Besökare för <%= @registration_batch %></h2>

<table>
  <tr>
    <th></th>
    <th>Förnamn</th>
    <th>Efternamn</th>
    <th>LiU-ID</th>
    <th>Personnummer</th>
    <th>Streckkodsnummer</th>
    <th>RFID</th>
    <th>Nollan</th>
    <th>Nykter</th>
  </tr>
  <%= render :partial => 'visitors/visitor_row', :collection => @visitors, :locals => {:event => @event, :registration_batch => @registration_batch} %>
</table>