<form name="$ctrl.form" novalidate ng-submit="$ctrl.search()">
  <kobra-event-select on-event-change="$ctrl.setEvent(event)">
  </kobra-event-select>
  <div class="form-group">
    <label for="liuOrMifareId">LiU ID or card number</label>
    <div class="input-group input-group-lg">
      <input id="liuOrMifareId" class="form-control" type="text"
             placeholder="LiU ID or card number" required ng-model="$ctrl.query"
             ng-disabled="!$ctrl.event" ng-blur="$ctrl.focusSearchField()">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="submit"
                ng-disabled="$ctrl.form.$invalid">
          <i class="fa fa-fw"
             ng-class="$ctrl.inProgress ? 'fa-spinner fa-spin' : 'fa-search'">
          </i>
        </button>
      </span>
    </div>
  </div>
</form>
<div class="alert alert-danger" ng-if="$ctrl.failed">
  <p>{{$ctrl.failureDetail || "Unknown error. Try reloading."}}</p>
</div>
<div class="well" ng-if="$ctrl.student">
  <h2 class="h3" style="margin-top: 0;">
    {{$ctrl.student.first_name}} {{$ctrl.student.last_name}}
    <small>{{$ctrl.student.liu_id}}</small>
  </h2>

  <div class="row">
    <div class="col-sm-6">
      <h3 class="h4">Union</h3>
      <p class="h3" style="margin-top: 0;">
        <span class="label label-success" ng-if="$ctrl.student.union">
          <i class="fa fa-fw fa-check"></i> {{$ctrl.student.union.name}}
        </span>
        <span class="label label-danger" ng-if="!$ctrl.student.union">
          <i class="fa fa-fw fa-remove"></i> No union
        </span>
      </p>
    </div>
    <div class="col-sm-6">
      <h3 class="h4">Section</h3>
      <p class="h3" style="margin-top: 0;">
        <span class="label label-success" ng-if="$ctrl.student.section">
          <i class="fa fa-fw fa-check"></i> {{$ctrl.student.section.name}}
        </span>
        <span class="label label-danger" ng-if="!$ctrl.student.section">
          <i class="fa fa-fw fa-remove"></i> No section
        </span>
      </p>
    </div>
  </div>

  <hr>
  <div class="row">
    <kobra-ticket-type class="col-sm-6"
                       ng-repeat="ticketType in $ctrl.event.ticket_types"
                       ticket-type="ticketType" student="$ctrl.student">
    </kobra-ticket-type>
  </div>

</div>
