<h3>
  <%= @student %> är <%=raw @student.union_member? ? "<span style='background:#d0f0c0;'>medlem i #{@student.union}</span>" : "<span style='background:#FA8072;'>inte kårmedlem</span>" %>
</h3>


<%= render 'tickets/form' %>