<h3><%= @notice %></h3>
<p>
  <%= @student %>
  <strong>
    <% if @student.union_member? %>
	    <span style="background:#d0f0c0;">Kårmedlem i <%= @student.union %></span>
    <% else %>
	    <span style="background:#FA8072;">Ej medlem</span>
    <% end %>
  </strong>
</p>
