<% if @student %>
   $('#results').html('<%= escape_javascript(render 'tickets/form', :data => {:message => @message, :event => @event, :visitor => @visitor}) %>');
   <% unless @event.ticket_types.size == 1 && @event.ticket_types.first.always_save? %>
      $('#ticket_submit').show();
      $('#ticket_submit').select();
      $('#hidden_field').html('<%= hidden_field(:student, :pnr_format) %>');
      <% unless @student.union_member? %>
         $('#union_override').show();
      <% end %>
   <% end %>
<% elsif @students_count == 0 %>
   $('#results').html('<h3>Ingen träff</h3>');
<% else %>
   $('#results').html('<h3><%= @students_count %> träffar, förfina sökningen</h3>');
<% end %>
