body { font-size: 90%; }
.highlight { background:#ffc; }
.indent { padding-left: 1.5em; }
input[type=text], input[type=password], input.text, input.title, textarea, select { font-size: 110%; padding: 0.5em; }
