<p>
  <%= link_to 'Tillbaka', users_path %>
</p>

<h1>Skapa användare</h1>

<p class="quiet">
  Användaren kommer få ett e-post med instruktioner för att logga in och aktivera kontot.
</p>


<%= render 'form' %>
