<h1>Evenemang</h1>

<p>
  <%= link_to 'Skapa nytt evenemang', new_event_path %>
</p>

<ul>
<% @events.each do |event| %>
  <li>
    <h2><%= link_to event, event %></h2>
    <p><%= raw event.users.collect {|u| link_to(u, u) }.join(', ') %></p>
  </li>
<% end %>
</ul>

