{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Kobra</title>
  <link rel="stylesheet" href="{% static 'kobra.css' %}">
</head>
<body>
<div id="app">
  <div class="container">
    <div class="text-center">
      <p class="text-muted">Loading Kobra&hellip;</p>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-striped active" role="progressbar"
           style="width: 100%;">
      </div>
    </div>
  </div>
</div>
<script>
  window.kobraConstants = {
    apiRoot: '{{ api_root }}',
    liuAdfsClientId: '{{ liu_adfs_client_id }}',
    liuAdfsHost: '{{ liu_adfs_host }}',
    opbeatOrgId: '{{ opbeat_frontend_organization_id }}',
    opbeatAppId: '{{ opbeat_frontend_app_id }}'
  }
  Object.freeze(window.kobraConstants)
</script>
<script src="{% static 'kobra.js' %}"></script>
</body>
</html>
