<p>Hej <%= @resource.email %>!</p>

<p>Någon har begärt en länk för att ändra lösenord, du kan göra detta via länken nedan.</p>

<p><%= link_to 'Ändra mitt lösenord', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>


<p>Om du inte begärde detta, kan du ignorera detta e-brev.</p>
<p>Ditt lösenord kommer inte ändras förrän du besöker länken ovan och ändrar det.</p>