//== Colors
//
//## Gray and brand colors for use across Bootstrap.



//== Scaffolding
//
//## Settings for some of the most global styles.



//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;

$headings-font-weight: 600;


//== Iconography
//
//## Specify custom location and filename of the included Glyphicons icon font. Useful for those including Bootstrap via Bower.



//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).



//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.



//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.



//== Forms
//
//##



//== Dropdowns
//
//## Dropdown menu container and contents.



//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.



//== Grid system
//
//## Define your custom responsive grid.

$grid-gutter-width: 30px !default;

//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
$container-tablet: (720px + $grid-gutter-width);

// Medium screen / desktop
$container-desktop: $container-tablet;

// Large screen / wide desktop
$container-large-desktop: $container-tablet;

//== Navbar
//
//##



//== Navs
//
//##



//== Pagination
//
//##



//== Pager
//
//##



//== Jumbotron
//
//##



//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.



//== Tooltips
//
//##



//== Popovers
//
//##



//== Labels
//
//##



//== Modals
//
//##



//== Alerts
//
//## Define alert colors, border radius, and padding.



//== Progress bars
//
//##



//== List group
//
//##



//== Panels
//
//##



//== Thumbnails
//
//##



//== Wells
//
//##



//== Badges
//
//##



//== Breadcrumbs
//
//##



//== Carousel
//
//##



//== Close
//
//##



//== Code
//
//##



//== Type
//
//##


